#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.strategy-app {
  .section {
    display: inline-block;
  }
}

.scouter-query {
  h3,
  h2,
  button {
    display: inline;
  }
  to {
    transform: rotate(360deg);
  }
}

.succesfulness {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 80px;
  button {
    font-size: 20px;
  }
}

.map-amp {
  h3,
  h2,
  button {
    display: inline;
    position: relative;
  }
  width: 40%; /* Adjust as needed */
  height: 20%;
  padding: 20px;
}

.speaker-auto {
  h3,
  h2,
  button {
    display: inline;
    position: relative;
  }
  width: 70%;
}

.map-options {
  width: 55%; /* Adjust as needed */
  height: 20%;
  padding: 20px;
}
.map-buttons {
  grid-gap: 0px;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  background: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the items */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.nav-bar li {
  margin-right: 1rem;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.auto-chart {
  display: flex;
}
.team-picker {
  select,
  input,
  label {
    font-size: 20px;
  }
}
.collapsible-trigger {
  border-style: solid;
}

.cool-radio-input {
  height: 20px;
  width: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
