# Logs
application/logs
application/*.log
application/npm-debug.log*
application/yarn-debug.log*
application/yarn-error.log*
application/pnpm-debug.log*
application/lerna-debug.log*

application/node_modules
application/dist
application/dist-ssr
application/*.local
application/compiled
application/package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secret keys
ssl-key.pem
ssl.pem